.nav-w {
    max-width: 1170px;
}

.d-flex{
    display: flex;
}

.top-nav-main {
    display: flex;
    padding: 0.8rem 6rem 0.4rem;
    align-items: center;
    justify-content: space-between;
}

.logo-cont img {
    height: 3.5rem;
}

.slogan {
    font-size: 1.18rem;
    align-items: center;
    padding-left: 3.3rem;
    width: 30rem;
}

.slogan h4 {
   margin-left: 1rem;
   color: #ee5b35;
   font-size: 17px;
   /* width: 25rem; */
   font-weight: 700;
   font-family: 'fangsong', serif;
}

.fa-galactic-republic {
    color: #ee5b35;
    font-size: 2rem;
}

.sell {
    text-decoration: none;
    background: #ee5b35;
    margin-right: 1rem;
    color: #FFF;
    padding: 16px 54px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.buy {
    padding: 15px 54px;
    text-decoration: none;
    border: 2px solid #ee5b35;
    color: #ee5b35;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.buy:hover {
    color:#666;
    border-color: #666;
}

.sell:hover {
    color: #FFF;
    background: #666;
}

.bottom-nav-main {
    display: flex;
    justify-content: center;
}

.bottom-nav {
    border-bottom: 3px solid #ee5b35;
    padding: 0 24px 0;
    background: #e9e9e9;
}

.bottom-nav-main ul {
    /* display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 14px;
    */
} 

.bottom-nav-main ul li {
     list-style: none;
}

/* .bottom-nav-main ul li:hover a {
    color: #fff;
} */

.bottom-nav-main ul .top-li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 5px;
}

.bottom-nav-main ul .top-li:hover{
    background: #ee5b35;
    /* color: #fff; */
}
.bottom-nav-main ul .top-li:hover > a{
    color: #fff;
}

.bottom-nav-main ul li a {
    text-decoration: none;
    color: #333333;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.8rem;
}

.sell-buy {
    /* margin-left: 10rem; */
}


.drop-down-menu{
    background-color: #e7e7e7;
    border: none;
    min-height: 280px;
    opacity: .95;
    padding: 15px 0;
    width: 76%;
    position: absolute;
    top: 148px;
    padding: 10px;
    left: 11rem;
    display: none;
}

.sub-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sub-title {
    margin-bottom: 10px;
}

.fa-bars {
    display: none;
}

.ul-cont ul {
    display: flex;
    flex-direction: column;
}

.ul-cont ul li a {
        /* display: block; */
        padding: 5px;
        text-decoration: none;
        width: 100%;
}


.ul-cont ul li:hover  {
    background: #ee5b35;
    color: #fff;
}

.ul-cont ul li:hover a {
color: #fff;
}

.top-li:hover > div,
.top-li:focus >div {
    display: block;
}

.see-more {
    margin-top: 1rem;
}

.see-more .iphones  {
    text-decoration: underline;
}

.see-more .iphones:hover {
    text-decoration: none;
}

.see-more .iphone13 {
    border: 1px solid #ee5b35;
    padding: 4px 20px;
    font-weight: 700;
    color: #ee5b35;
}

.see-more .iphone13:hover {
    border: 1px solid #000;
    color: #000;
}

.fa-chevron-down {
    display: none;
}

@media (max-width: 1175px) {
    .top-nav-main {
        padding: 0.8rem 0.9rem 0.4rem;
        justify-content: space-between;
        max-width: 1170px;
    }

    .fa-chevron-down {
        display: inline-block;
    }

    /* .slogan {
        font-size: 13px;
    } */

    .slogan h4 {
        line-height: 17px;
        /* width: 20rem; */
        font-size: 13px;
    }

    .sell, .buy {
        padding: 17px 40px;
    }

    .buy {
        /* font-size: 0; */
    }

    .sell {
        padding: 19px 42px;
    }

    .sell-buy {
        /* margin-right: 25px; */
        /* width: 34%;
        display: flex;
        justify-content: center; */
          padding-left: 1rem;
    }

}

@media (max-width: 785px) {

    .slogan,
    .bottom-nav {
        /* display: none; */
    }

    .top-nav-main {
        flex-direction: column;
    }

    .logo-cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .logo-cont img {
        height: 2.5rem;
    }

    .sell-buy {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .sell {
        font-size: 1rem;
        height: 2.8rem;
        width: 23rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .buy {
           height: 2.8rem;
           font-size: 1rem;
           width: 23rem;
           justify-content: center;
           display: flex;
           align-items: center;
    }

    .fa-bars {
        display: inline-block;
        font-size: 2rem;
        color: #ee5b35;
    }

    .bottom-nav-main ul {
        display: flex;
        flex-direction: column;
    }

    .bottom-nav-main ul li {
        padding: 0;
    }

    .bottom-nav-main ul li a{
        font-size: 15px;
        width: 100vw;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

        .bottom-nav-main ul .top-li {
            padding: 0;
        }

        .bottom-nav-main ul .top-li a {
            border-bottom: 1px solid #6e759a6b;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .bottom-nav-main ul .top-li:first-child {
            background: #2f9cca;
            color: #fff;
        }

        .bottom-nav-main ul .top-li:first-child a{
            color: #fff;
        }

}